<div class="navbar bg-base-100 shadow-sm">
  <div class="flex-1">
    <a class="btn btn-ghost text-xl">Dev Tinder</a>
  </div>
  <div *ngIf="userData" class="flex gap-2 items-center">
    <div>Welcome, {{userData.firstName | titlecase}}</div>
    <div class="dropdown dropdown-end mx-5">
      <div tabindex="0" #dropdownBtn role="button" class="btn btn-ghost btn-circle avatar">
        <div class="w-10 rounded-full">
          <img
            alt="Tailwind CSS Navbar component"
            [src]="userData.photoUrl" />
        </div>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow"
        >
        <li *ngFor="let item of profileDropdown" (click)="dropdownItemClicked(item)">
          <a>{{item.name}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
