/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@plugin "daisyui";

html {
  scroll-behavior: smooth;
}
@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-fade-in-up {
  animation: fade-in-up 0.5s ease-out forwards;
}
